.player {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: var(--text-color);
}
.title {
	font-size: clamp(1.7em, 5vw, 3em);
	font-weight: 600;
	line-height: normal;
	letter-spacing: 0.1em;
}
.main hr {
	margin: 1em 0 1em 0;
}
.images {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.img {
	padding: 2px;
	border: 1px solid rgba(68, 68, 68, 0.6);
	border-radius: 15%;
}
