.player {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: var(--text-color);
}
.title {
	font-size: clamp(1rem, 5vw, 3rem);
	font-weight: 600;
	line-height: normal;
}
.main hr {
	margin: 10px 0 10px 0;
}
.images {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.img {
	padding: 2px;
	border: 1px solid rgba(68, 68, 68, 0.6);
	border-radius: 2px;
}
