.header {
	display: flex;
	/* justify-content: space-between; */
	position: fixed;
	height: var(--header-height);
	background-color: var(--header-color);
	width: 100%;
	z-index: 50000;
}
.text {
	color: var(--text-color);
}
.fit {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logo {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 10px;
}

.logo .text {
	padding-left: 10px;
	font-size: 1.5em;
	font-weight: 600;
}
.nav {
	display: flex;
	flex-grow: 1;
}
.navbar {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	/* padding-left: 20px; */
	flex-grow: 1;
}
.navbar a {
	padding-left: 20px;
	text-decoration: none;
	font-size: 1.2em;
	font-weight: 400;
}

.search {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-right: 10px;
}

.search form {
	height: 2.4em;
	display: flex;
	justify-content: center;
	align-items: center;
}
.search select {
	height: inherit;
	padding: 0em 0.5em;
	outline: none;
	box-sizing: content-box;
	background-color: var(--body-color);
	color: var(--text-color);
	border: 0;
	border-radius: 15% 0% 0% 15%;
}
.search input[type='text'] {
	width: 9em;
	height: inherit;
	background-color: var(--body-color);
	color: var(--text-color);
	padding-left: 1em;
	border: 0;
	outline: none;
}
.search button[type='submit'] {
	width: 3em;
	height: inherit;
	border: 0;
	outline: none;
	font-size: 1em;
	background-color: var(--body-color);
	border-radius: 0% 15% 15% 0%;
}
.search button[type='submit'] svg {
	fill: #ffffff;
}
.main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: var(--body-color);
	padding-top: 60px;
	height: auto;
	min-height: calc(100vh - var(--footer-height) - var(--header-height));
	padding-bottom: var(--footer-height);
}
.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
	position: absolute;
	background-color: var(--header-color);
	transform: translateY(-100%);
}
.footer .box {
	display: flex;
	min-height: 120px;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}
.box {
	font-size: 1.2em;
}
.box ul {
	margin-top: 0.4em;
}
.box li {
	margin-bottom: 0.5em;
	font-size: 0.8em;
}
.box a {
	color: var(--text-color);
}

.togglebtn {
	display: none;
	width: 2.5em;
	height: 2.5em;
	background-color: #484848;
	margin: 0.3em 1em;
	padding: 0.4em 0.4em;
	background-image: url('/image/default/3line.svg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 1.6em 1.6em;
	border: 1px solid #3f3f3f;
	box-shadow: rgba(150, 150, 150, 0.8) 0px 0px 0px 2px, rgba(136, 142, 157, 0.6) 0px 4px 6px -1px, rgba(255, 255, 255, 0.45) 0px 1px 0px inset;
}
@media (min-width: 10px) {
	.footer .box {
		min-height: 80px;
		margin-top: 20px;
	}
	.mid_full {
		width: 100%;
	}
	.mid_half {
		width: 50%;
	}
}
@media (min-width: 1000px) {
	.footer .box {
		min-height: 120px;
	}
	.large_half {
		width: 40%;
	}
	.large_quad {
		width: 20%;
	}
}
@media (max-width: 800px) {
	.w800 {
		display: none;
	}
	.togglebtn {
		display: block;
	}
	.fit {
		width: 100%;
		min-height: var(--header-height);
	}
	.header {
		min-height: var(--header-height);
		height: fit-content;
		flex-direction: column;
	}
	.navbar {
		width: 100%;
		justify-content: space-evenly;
		padding-top: 20px;
		padding-bottom: 20px;
		border: 5px double #6f6f6f56;
	}
}
