.main {
	display: flex;
	flex-direction: column;
	width: 92vw;
	min-height: calc(100vh - 250px);
	background-color: var(--body-color);
	color: var(--text-color);
	padding: 3% 4% 0% 4%;
}
.title {
	font-size: 1.6em;
	font-weight: 600;
}
.main hr {
	width: 90vw;
	margin: 10px 0 10px 0;
}
.cards {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	margin-bottom: 20px;
}
